<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>   
        <%- include('./partials/nav.ejs') %> <!--partials for the nav html code-->
        <div class="create-blog content">
            <form action="/blogs" method="POST"> <!--post request sends the form data to server || request is sent to /blogs-->
                <label for="title">Blog Title:</label>
                <input type="text" id="title" name="title" required>
                <label for="title">Blog Snippet:</label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="title">Blog Body:</label>
                <textarea id="body" name="body" required></textarea>
                <button>Submit</button>
            </form>
        </div> 
        <%- include('./partials/footer') %>
    </body>
</html>